<div class="header">
  <div class="badge-page">
    <div class="badge-img">
      <img src="../../../assets/aja.png" alt="">
    </div>
    <div class="badge-title">
      <p>Anime.ca</p>
    </div>
  </div>
  <form class="form-message">
    <input type="text" placeholder="Deja un mensaje de apoyo :3">
    <button type="submit"><i class="fa fa-paper-plane" style="color: white;" aria-hidden="true"></i></button>
  </form>
  <div class="profile">
    <div class="profile-name">
      <p>Carolina Giraldo </p>
    </div>
    <div class="profile-photo">
      <img src="../../../assets/yo.jpg" alt="">
    </div>
  </div>
</div>
