<div class="header-container">
  <div class="badge-page">
    <img src="../../../assets/yo.jpg" alt="">
  </div>
  <form class="form-message">
    <input type="text" placeholder="Deja un mensaje de apoyo :3">
    <button type="submit" class="btn--info">Enviar <i class="fa fa-paper-plane" style="color: #070418;" aria-hidden="true"></i></button>
  </form>
  <div class="profile">
    <div class="profile-photo">
      <img src="../../../assets/yo.jpg" alt="">
    </div>
    <div class="profile-name">
      <p>Carolina G <i class="profile-settings" class="fa fa-angle-down" aria-hidden="true"></i></p>
    </div>

  </div>
</div>
