@mixin respond-to($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

.container {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 14vh;
    grid-template-areas: "header header"
                         "tabs content";
    height: 100vh;

    @include respond-to(780px){
        grid-template-columns: 100%;
        grid-template-areas: "header"
                            "content"
                            "tabs";
    }

}

.header {
    grid-area: header;
}

.tabs { 
    grid-area: tabs;
}

.content {
    grid-area: content;
    overflow: auto;
}
