/*-----------------------------
    $BUTTONS
------------------------------*/

/*
 * Definimos los botones y sus variantes
 */


 /**
 * .btn es la clase principal para definir un botón
 */
 .btn {
	display: inline-block;
	line-height: 2.2;
	color: $button-color;
	text-align: center;
	vertical-align: middle;
    font-size: fs(normal);
	white-space: nowrap;
    border: none;
    cursor: pointer;
	margin:0;
	padding-top:   0;
   	padding-bottom:0;
   	padding-right:1em;
   	padding-left: 1em;
    border-radius: $border-radius;
    text-decoration: none;
	/**
 	* Nadie quiere un botón con texto subrayado cuando
 	* hacemos hover.
 	*/

	&:hover {
		text-decoration: none;
        color: $button-color;
	}
	&:active,
    &:focus{
        outline:none;
    }
    &:visited {
    color: $button-color;
    text-decoration: none;
	}
}






/**
* Botón de Info
*/
.btn--info {
    @extend .btn;
    background: $color-info;
    &:hover {
        background: darken($color-info, 2);
    }
    &:visited {
        background: $color-info;
    }
}




/**
* Botón de Error
*/
.btn--error {
    @extend .btn;
	background: $color-danger;
	&:hover {
        background: darken($color-danger, 2) ;
	}
	&:visited {
		background: $color-danger;
	}
}








/**
* Botón de OK
*/

.btn--success {
    @extend .btn;
    background: $color-success;
    &:hover {
        background:  darken($color-success, 3);
    }
    &:visited {
        background: $color-success;
    }
}





/**
* Botón principal
*/

.btn--primary {
    @extend .btn;
    background-color: $button-background-color;
}

.btn--secondary {
    @extend .btn;
    background-color: $color-secondary;
}





/*------------------------------------*\
    $BOTONES-TAMAÑOS
\*------------------------------------*/
/**
 * Variantes de los botones por tamaño.
 *
 */

.btn--mini{
    padding-right:0.5em;
    padding-left: 0.5em;
    line-height:1.5;
    font-size: 12px;
}

.btn--small{
    padding-right:1.5em;
    padding-left: 1.5em;
    line-height:2;
    font-size: 14px;
}

.btn--big{
    padding-right:3em;
    padding-left: 3em;
    line-height:3;
    font-size: 18px;
}

.btn--block {
    display: block;
}



/**
* Botón no disponible
*/
.btn--disabled {
    @extend .btn;
    opacity: 5;
	cursor: not-allowed;
    background-color: $color-lightgrey;
}
