<div class="tabs">
  <div class="part-1">
    <div class="home">
      <p><i class="fa fa-home fa-3x fa-fw" aria-hidden="true"></i></p>
      <p class="title">Home</p>
    </div>
    <div class="profile">
      <p><i class="fa fa-user fa-3x fa-fw" aria-hidden="true"></i></p>
      <p class="title">Profile</p>
    </div>
    <div class="news">
      <p><i class="fa fa-newspaper-o fa-3x fa-fw" aria-hidden="true"></i></p>
      <p class="title">News</p>
    </div>
  </div>
  <div class="part-2">
    <p><i class="fa fa-cog fa-3x fa-fw"></i></p>
    <p class="title">Settings</p>
  </div>
</div>
